body{
    font-family: 'Poppins', sans-serif;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 25px;
    width: 90%;
    background-color: #161616;
    border-radius: 25px;
    margin-bottom: 100px;
    color: whitesmoke;
    overflow: hidden;
}
.container .min-container{
    margin: opx 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.content{
    width: 50%;
    font-size: 30px;

}
.content-img{
    width: 50%;
}
.content-img img{
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 100%;
    margin-bottom: -46px;
    margin-left: 85px;
}
.content p{
    font-weight: 300;
    font-size: 22px;
    width: 460px;
}


